body{
  font-family: 'Nunito' , sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400%, 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;

  }
  100%{
    background-position: 0% 50%;
  }
}
#quote-box{
 background: #fff;
 width: 40rem;
 margin: 10rem auto;
 border-radius: 5px; 
 padding: 3rem;
}
#text{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
#author{
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}
#buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.social-media{
  display: flex;
}
.social-media >a{
  margin-right: .5rem;
  padding: .3rem .5rem;
  cursor: pointer;
}
.social-media >a :hover{
  opacity: .9;
}
.social-media > a img{
  width: 1.5rem;
}
#new-quote{
  background: #0059ff;
  color: #fff;
  border: none;
  padding: .7rem 1rem;
  font-size: .9rem;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
#new-quote:hover{
  opacity: .9;
}
@media (max-width: 768px){
  
}